# Optionally uncomment to ignore specific alerts
#alerts:
#  ignore-alerts:
#    - alertTypeMissedRecentBlocks

notifications:
  telegram:
    api_token:
    master_ids:
      - 0


validators_monitor:
  rpc: http://loclahost:26657
  chain_id: blockspacerace-0
  rpc_retries: 5
  # only alert when 2/20 missed blocks have occurred (default is 1)
  missed_blocks_threshold: 2
  # enable this when the node is not in the active set
  slashing_warn_threshold: 99.80
  slashing_error_threshold: 98
  recent_blocks_to_check: 20
  notify_every: 20
  recent_missed_blocks_notify_threshold: 10
